force-app/main/default/flows/Clinical_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Find_Selected_Records</name>
        <label>Find Selected Records</label>
        <locationX>2463</locationX>
        <locationY>757</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>NF_Work_History__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>NF_Work_History__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>NF_Work_History__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>collSelected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_Through_Selected_Records.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Education_Relationship</name>
        <label>Assign Education Relationship</label>
        <locationX>1432</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>EducationVarRec.HCP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.HCP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EducationVarRec.HCP_Recruitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Education_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_History_Outputs</name>
        <label>Assign Work History Outputs</label>
        <locationX>2459</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>collSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkHistoryTable.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Work_History_Relationship</name>
        <label>Assign Work History Relationship</label>
        <locationX>1047</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>WorkHistoryVar.HCP_Person_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.HCP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkHistoryVar.HCP_Recruitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkHistoryVar.NF_Medical_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Work_History__r.NF_Medical_Facility__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_History_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_History_Relationship_0</name>
        <label>Assign Work History Relationship</label>
        <locationX>1582</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>HCPSpecialtyVar.HCP_Recruitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HCP_Specialty_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_records_to_my_collection</name>
        <label>Save records to my collection</label>
        <locationX>2449</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>collNewWorkHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objWorkHistory</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Use_selected_record</name>
        <label>Use selected record</label>
        <locationX>2451</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>WorkHistoryVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoHCPSkill</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoSpecialty</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoWorkHistory</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesEducation</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesHCPSkill</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesSpecialty</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesWorkHistory</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_HCP_Skill</name>
        <label>Create HCP Skill</label>
        <locationX>247</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Get_HCP_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Move Forward</defaultConnectorLabel>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_create_another_HCP_Skill</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesHCPSkill</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_History_Table</targetReference>
            </connector>
            <label>Yes Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Education</name>
        <label>Decision Education</label>
        <locationX>1312</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Get_Work_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Education History</defaultConnectorLabel>
        <rules>
            <name>Yes_Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_more_education_history</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesEducation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Education</targetReference>
            </connector>
            <label>Yes Education</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Work_History</name>
        <label>Decision Work History</label>
        <locationX>783</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>SkillsLookUp_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work History</defaultConnectorLabel>
        <rules>
            <name>Yes_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Additional_Work_History_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesWorkHistory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_History</targetReference>
            </connector>
            <label>Yes History</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specialty_Decision</name>
        <label>Specialty Decision</label>
        <locationX>1690</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Update_HCP_Recruitment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Specialty</defaultConnectorLabel>
        <rules>
            <name>Yes_Specialty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_another_Specialty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesSpecialty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HCP_Specialty_Recommendations</targetReference>
            </connector>
            <label>Yes Specialty</label>
        </rules>
    </decisions>
    <description>810/2022-Putting the more accurate version of the clinical assessment back on top--MRB</description>
    <dynamicChoiceSets>
        <name>ALOSChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ALOS__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvantSkillLevelChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NF_Avant_Skill_Level__c</picklistField>
        <picklistObject>NF_HCP_Skill__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CAMOutcomeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CAM_I_V_Outcome_Field__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CertificationsChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Certifications__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClinicalBehavioralChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Clinical_Behavioral__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClinicalLangauageChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Clinical_Language__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmploymentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Employment_Type__c</picklistField>
        <picklistObject>NF_Work_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>facilityLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Facility_Level__c</picklistField>
        <picklistObject>NF_Medical_Facility__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HTTAssessmentChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HTT_Assessment__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnershipChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Ownership__c</picklistField>
        <picklistObject>NF_Medical_Facility__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimarySecondaryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Secondary__c</picklistField>
        <picklistObject>HCP_Specialty__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recruitmentStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NF_Recruitment_Status__c</picklistField>
        <picklistObject>NF_HCP_Recruitment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SkillLevelChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NF_Skill_Level__c</picklistField>
        <picklistObject>NF_HCP_Skill__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialtyApplicationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_specialty_unit_ward__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tertiaryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NF_Tertiary__c</picklistField>
        <picklistObject>HCP_Specialty__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TraumaLevelChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trauma_Level__c</picklistField>
        <picklistObject>HCP_Specialty__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkHistoryTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NF_Employment_Experience_Employment_Gap__c</picklistField>
        <picklistObject>NF_Work_History__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ClinicalNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Application.Name} + &quot; - Clinical - &quot;</expression>
    </formulas>
    <interviewLabel>Clinical Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clinical Assessment</label>
    <loops>
        <name>Loop_Through_Selected_Records</name>
        <label>Loop Through Selected Records</label>
        <locationX>2463</locationX>
        <locationY>1005</locationY>
        <collectionReference>collSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Education_Record</name>
        <label>Create Education Record</label>
        <locationX>1561</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Get_Education</targetReference>
        </connector>
        <inputReference>EducationVarRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_HCP_Specialty_Record</name>
        <label>Create HCP Specialty Record</label>
        <locationX>1456</locationX>
        <locationY>892</locationY>
        <connector>
            <targetReference>Get_HCP_Specialty</targetReference>
        </connector>
        <inputReference>HCPSpecialtyVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interview_Record</name>
        <label>Create Interview Record</label>
        <locationX>2035</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_Application__c</field>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Interview_End_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Interview_Start_Date_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_HCP_Recruitment__c</field>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Interview_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Interview_Notes__c</field>
            <value>
                <elementReference>Interview_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Interview_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Interview_Type__c</field>
            <value>
                <stringValue>Clinical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ClinicalNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_History_Record</name>
        <label>Create Work History Record</label>
        <locationX>1053</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Get_Work_History</targetReference>
        </connector>
        <inputReference>WorkHistoryVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>HCP_Skills_Record</name>
        <label>HCP Skills Record</label>
        <locationX>95</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Create_HCP_Skill2</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Recruitment__c</field>
            <value>
                <elementReference>Get_HCP_Recruitment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Skill_Level__c</field>
            <value>
                <elementReference>SkillLevelChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Skill__c</field>
            <value>
                <elementReference>Skill.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_Skills_Notes__c</field>
            <value>
                <elementReference>Recruitment_Skills_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_History__c</field>
            <value>
                <elementReference>Find_Selected_Records.singleOutputMember.Name</elementReference>
            </value>
        </inputAssignments>
        <object>NF_HCP_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>1927</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HCP_Recruitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Education</name>
        <label>Get Education</label>
        <locationX>1564</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Additional_Education</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HCP_Recruitment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NF_Education__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HCP_Recruitment</name>
        <label>Get HCP Recruitment</label>
        <locationX>1838</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NF_HCP_Recruitment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HCP_Skills</name>
        <label>Get HCP Skills</label>
        <locationX>248</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SkillsLookUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NF_HCP_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HCP_Specialty</name>
        <label>Get HCP Specialty</label>
        <locationX>1242</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HCP_Specialty_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HCP_Recruitment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HCP_Specialty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qualifications_Related_to_Application</name>
        <label>Get Qualifications Related to Application</label>
        <locationX>649</locationX>
        <locationY>904</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qualification_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Qualification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_History</name>
        <label>Get Work History</label>
        <locationX>1043</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_History_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NF_Work_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_acct</name>
        <label>Update acct</label>
        <locationX>2073</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Create_Interview_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.HCP__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reconsideration_Date__c</field>
            <value>
                <elementReference>Reconsideration_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>1861</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>Update_acct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reconsideration_Date__c</field>
            <value>
                <elementReference>Reconsideration_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HCP_Recruitment</name>
        <label>Update HCP Recruitment</label>
        <locationX>1853</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.HCP_Recruitment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABG_Interpretation__c</field>
            <value>
                <elementReference>ABG_Interpretation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>A_Lines__c</field>
            <value>
                <elementReference>ALines.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_I_V_Outcome_Field__c</field>
            <value>
                <elementReference>CAMOutcome.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRRT__c</field>
            <value>
                <elementReference>CRRT.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVC_Insertion__c</field>
            <value>
                <elementReference>CVC_Insertion.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVP_Monitoring__c</field>
            <value>
                <elementReference>CVP_Monitoring.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVS_Dressing_Changes__c</field>
            <value>
                <elementReference>CVS_Dressing_Changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certifications__c</field>
            <value>
                <elementReference>CertificationsChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Behavioral__c</field>
            <value>
                <elementReference>Clinical_Behavioral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Language__c</field>
            <value>
                <elementReference>Clinical_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation__c</field>
            <value>
                <elementReference>Documentation.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drains__c</field>
            <value>
                <elementReference>Drains.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EKG_and_Rhythms__c</field>
            <value>
                <elementReference>EKG_and_Rhythms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HTT_Assessment__c</field>
            <value>
                <elementReference>HTT_Assessment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Monitor__c</field>
            <value>
                <elementReference>ICPMonitor.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inotropes_Vasopressors__c</field>
            <value>
                <elementReference>Inotropes_Vasopressors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Translation_Notes__c</field>
            <value>
                <elementReference>Interview_Translation_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meds_through_aline__c</field>
            <value>
                <elementReference>MedThruALine.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modes__c</field>
            <value>
                <elementReference>Modes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Recruitment_Status__c</field>
            <value>
                <elementReference>Recruitment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_Experience__c</field>
            <value>
                <elementReference>Qualifying_Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reconsideration_Date__c</field>
            <value>
                <elementReference>Reconsideration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scenarios_RN_Interventions__c</field>
            <value>
                <elementReference>Scenarios_RN_Interventions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedation_Paralytics__c</field>
            <value>
                <elementReference>Sedation_Paralytics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transduced__c</field>
            <value>
                <elementReference>Transduced.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vent_Weaning_Process__c</field>
            <value>
                <elementReference>Vent_Weaning_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ventilators__c</field>
            <value>
                <elementReference>Ventilators.value</elementReference>
            </value>
        </inputAssignments>
        <object>NF_HCP_Recruitment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Medical_Facility</name>
        <label>Update Medical Facility</label>
        <locationX>1260</locationX>
        <locationY>463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Work_History__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_Medical_Facility__c</field>
            <value>
                <elementReference>MedicalFacilityName.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>NF_Work_History__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Education</name>
        <label>Add Education</label>
        <locationX>1320</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Education_Relationship</targetReference>
        </connector>
        <fields>
            <name>EducationInstruction</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;HCP Education&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Enter the required information for your HCPs Education on this screen, once you finish you will be prompted if you&apos;d like to add another.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.NF_Name_of_SchoolOrganizationInstitution__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.NF_Start_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.NF_Graduation_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.NF_Type_of_Education__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.NF_Qualification_earned__c</objectFieldReference>
        </fields>
        <fields>
            <name>University</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AV_University__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>University</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NF_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.AV_Bonded__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.AV_Bonded_End_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.Initial_RN_Education__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.AV_Board_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.AV_Board_Exam_Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EducationVarRec.AV_Board_Attempts_Explanation__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Education</name>
        <label>Additional Education</label>
        <locationX>1443</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Education</targetReference>
        </connector>
        <fields>
            <name>EducationTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>NF_Education__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>NF_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Education</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Educations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom55</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,NF_Name_of_SchoolOrganizationInstitution__c,AV_University__c,AV_Country__c,Initial_RN_Education__c,NF_Qualification_earned__c,NF_Type_of_Education__c,NF_Graduation_Date__c,AV_Bonded__c,AV_Bonded_End_Date__c,AV_No_of_Board_Attempts__c,AV_Board_Attempts_Explanation__c,AV_Board_Date__c,AV_Board_Exam_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:50, NF_Name_of_SchoolOrganizationInstitution__c:69, AV_University__c:69, AV_Country__c:69, Initial_RN_Education__c:69, NF_Qualification_earned__c:69, NF_Type_of_Education__c:69, NF_Graduation_Date__c:69, AV_Bonded__c:69, AV_Bonded_End_Date__c:69, AV_No_of_Board_Attempts__c:69, AV_Board_Attempts_Explanation__c:69, AV_Board_Date__c:69, AV_Board_Exam_Status__c:69</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Would_you_like_to_add_more_education_history</name>
            <choiceReferences>YesEducation</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoChoice</defaultSelectedChoiceReference>
            <fieldText>Would you like to add more education history?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_HCP_Skill2</name>
        <label>Create HCP Skill</label>
        <locationX>94</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_HCP_Skill</targetReference>
        </connector>
        <fields>
            <name>HCPSkillCreate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;HCP Skill&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Enter the required information for your HCPs Skill on the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_create_another_HCP_Skill</name>
            <choiceReferences>YesHCPSkill</choiceReferences>
            <choiceReferences>NoHCPSkill</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to create another HCP Skill?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HCP_Specialty_Recommendations</name>
        <label>HCP Specialty Recommendations</label>
        <locationX>1704</locationX>
        <locationY>834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Work_History_Relationship_0</targetReference>
        </connector>
        <fields>
            <name>Specialty_Recommendations</name>
            <fieldText>Specialty Recommendations</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Specialty_Recommendations_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Specialty</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>NF_Speciality__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Specialty</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>HCP_Specialty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HCPSpecialtyVar.NF_Tertiary__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HCPSpecialtyVar.NF_Definition_Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Specialty_Recommendations_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HCPSpecialtyVar.Primary_Secondary__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HCPSpecialtyVar.Trauma_Level__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HCP_Specialty_Table</name>
        <label>HCP Specialty Table</label>
        <locationX>1435</locationX>
        <locationY>775</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Specialty_Decision</targetReference>
        </connector>
        <fields>
            <name>HCPSpecialthTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>HCP_Specialty__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>HCP_Specialty__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>HCP_Specialty__c,NF_Speciality__c,Primary_Secondary__c,NF_Tertiary__c,Trauma_Level__c,NF_Definition_Comments__c,CreatedDate,Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>HCP_Specialty__c:139, NF_Speciality__c:122, Primary_Secondary__c:122, NF_Tertiary__c:122, Trauma_Level__c:122, NF_Definition_Comments__c:122, CreatedDate:121, Id:121</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_HCP_Specialty</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>HCP Specialties</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom65</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Would_you_like_to_add_another_Specialty</name>
            <choiceReferences>NoSpecialty</choiceReferences>
            <choiceReferences>YesSpecialty</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoSpecialty</defaultSelectedChoiceReference>
            <fieldText>Would you like to add another Specialty?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome_Screen</name>
        <label>Outcome Screen</label>
        <locationX>1125</locationX>
        <locationY>821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_HCP_Specialty</targetReference>
        </connector>
        <fields>
            <name>Outcome</name>
            <fieldText>Outcome</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outcome_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CAMOutcome</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>NAM Outcome</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>CAM_I_V_Outcome_Field__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Clinical_Language</name>
                    <choiceReferences>ClinicalLangauageChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Clinical Language</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recruitment_Status</name>
                    <choiceReferences>recruitmentStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recruitment Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Interview_Notes</name>
                    <defaultValue>
                        <stringValue>{!InterviewNotesVar}</stringValue>
                    </defaultValue>
                    <fieldText>Interview Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outcome_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discussion_Recommendation2</name>
                    <dataType>String</dataType>
                    <fieldText>Discussion/Recommendation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Clinical_Behavioral</name>
                    <choiceReferences>ClinicalBehavioralChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Clinical Behavioral</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reconsideration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Reconsideration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Interview_Translation_Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Interview Translation Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Qualification_Review</name>
        <label>Qualification Review</label>
        <locationX>783</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skills_Assessment</targetReference>
        </connector>
        <fields>
            <name>QualDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Qualification__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Qualification__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom58</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>NF_Question_Number__c,NF_Question__c,NF_Answer__c,NF_Survey_Time_Taken__c,NF_Qualification_Survey_Date__c,CreatedDate,Id,Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>NF_Question_Number__c:121, NF_Question__c:121, NF_Answer__c:121, NF_Survey_Time_Taken__c:121, NF_Qualification_Survey_Date__c:121, CreatedDate:121, Id:121, Name:121</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Qualifications_Related_to_Application</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Qualifications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>1728</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Education</targetReference>
        </connector>
        <fields>
            <name>Demographics</name>
            <fieldText>Demographics</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Demographics_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Application.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Application.Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Application.Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Demographics_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_of_Birth</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Application.HCP_Country_of_Birth__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Country of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Temp_Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Application.HCP_Current_Country_Living_In__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Temp Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Clinical_Assessment0_0</name>
            <fieldText>Clinical Assessment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clinical_Assessment0_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Interview_Notes1</name>
                    <defaultValue>
                        <stringValue>{!InterviewNotesVar}</stringValue>
                    </defaultValue>
                    <fieldText>Interview Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clinical_Assessment0_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discussion_Recommendation</name>
                    <fieldText>Discussion/Recommendation</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Skills_Assessment</name>
        <label>Skills Assessment</label>
        <locationX>949</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Outcome_Screen</targetReference>
        </connector>
        <fields>
            <name>Skills</name>
            <fieldText>Skills</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Skills_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Specialty1</name>
                    <choiceReferences>SpecialtyApplicationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Specialty</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ALines</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>A_Lines__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>A-Lines</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CVP_Monitoring</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>CVP_Monitoring__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>CVP Monitoring</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ICPMonitor</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>ICP_Monitor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>ICP Monitor</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sedation_Paralytics</name>
                    <dataType>String</dataType>
                    <fieldText>Sedation &amp; Paralytics</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CVS_Dressing_Changes</name>
                    <dataType>String</dataType>
                    <fieldText>CVS Dressing Changes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vent_Weaning_Process</name>
                    <dataType>String</dataType>
                    <fieldText>Vent Weaning Process</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ABG_Interpretation</name>
                    <dataType>String</dataType>
                    <fieldText>ABG Interpretation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Documentation</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Documentation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>HTT_Assessment1</name>
                    <choiceReferences>HTTAssessmentChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>HTT Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Certifications</name>
                    <choiceReferences>CertificationsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Certifications</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Skills_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EKG_and_Rhythms</name>
                    <dataType>String</dataType>
                    <fieldText>EKG and Rhythms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Drains</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Drains__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Drains</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MedThruALine</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Meds_through_aline__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Meds through A-Line?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Transduced</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Transduced__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Transduced</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Inotropes_Vasopressors</name>
                    <dataType>String</dataType>
                    <fieldText>Inotropes/Vasopressors</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CVC_Insertion</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>CVC_Insertion__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>CVC &amp; Insertion</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Ventilators</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Ventilators__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Ventilators</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Modes</name>
                    <dataType>String</dataType>
                    <fieldText>Modes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CRRT</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>NF_HCP_Recruitment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>CRRT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Scenarios_RN_Interventions</name>
                    <dataType>String</dataType>
                    <fieldText>Scenarios &amp; RN Interventions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Qualifying_Experience</name>
                    <dataType>String</dataType>
                    <fieldText>Qualifying Experience</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Interview_Notes_Discussion</name>
            <fieldText>Interview Notes/Discussion</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Notes_Discussion_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Interview_Notes2</name>
                    <defaultValue>
                        <stringValue>{!InterviewNotesVar}</stringValue>
                    </defaultValue>
                    <fieldText>Interview Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SkillsLookUp</name>
        <label>Skills</label>
        <locationX>246</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Qualifications_Related_to_Application</targetReference>
        </connector>
        <fields>
            <name>hcpskillstable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>NF_HCP_Skill__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>NF_HCP_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_HCP_Skills</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>HCP Skills</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom37</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Id,Name,NF_Skill__c,NF_Avant_Skill_Level__c,NF_Skill_Level__c,NF_Skill_Assessment__c,Work_History__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Id:140, Name:140, NF_Skill__c:140, NF_Avant_Skill_Level__c:140, NF_Skill_Level__c:140, NF_Skill_Assessment__c:140, Work_History__c:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SkillsLookUp_0</name>
        <label>Skills</label>
        <locationX>337</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HCP_Skills_Record</targetReference>
        </connector>
        <fields>
            <name>Work_History_Number_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WorkHistoryTable.outputSelectedRow.Name</elementReference>
            </defaultValue>
            <fieldText>Work History Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Skill</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NF_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NF_HCP_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>skilltype_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Skills_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skill Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NF_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Skill_Level</name>
            <choiceReferences>SkillLevelChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skill Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recruitment_Skills_Notes</name>
            <fieldText>Recruitment Skills Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SkillsAssessment</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NF_Skill_Assessment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skill Assessment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NF_HCP_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1924</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Clinical Interview is now Complete.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Have a great day!! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://avanthealthcare--dev--c.documentforce.com/sfc/servlet.shepherd/version/download/06876000000dooL?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;avant-advantage-logos june 5.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_History</name>
        <label>Work History</label>
        <locationX>785</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Work_History_Relationship</targetReference>
        </connector>
        <fields>
            <name>AddWorkHistoryInstruction</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;HCP Work History&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Enter the required information for your HCPs Work History on this screen, once you finish you will be prompted if you&apos;d like to add another.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_additional_Work_History</name>
            <fieldText>Add additional Work History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_additional_Work_History_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.NF_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.End_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>MedicalFacilityName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>NF_Medical_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Medical Facility Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>NF_Work_History__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Facility_Level</name>
                    <choiceReferences>facilityLevel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Facility Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.No_of_Beds_in_your_current_facility__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Ownership</name>
                    <choiceReferences>OwnershipChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ownership</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.AV_Employment_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.AV_Notice_Period__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.NF_Employment_Experience_Employment_Gap__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.NF_Position__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.NF_Unit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.NF_Unit_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Ages__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Gender__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.ALOS__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Ratios__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Cases__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.AV_Hours_per_week__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Leadership_Frequency__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Leadership__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkHistoryVar.Leadership_Responsibilities__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_History_Table</name>
        <label>Work History Table</label>
        <locationX>789</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Work_History</targetReference>
        </connector>
        <fields>
            <name>WorkHistoryTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>NF_Work_History__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>NF_Work_History__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Work_History</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Work Histories</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom18</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>NF_Present__c,Name,NF_Medical_Facility__c,NF_Start_Date__c,End_Date__c,No_of_Beds_in_your_current_facility__c,AV_Country_of_Work_History__c,NF_Position__c,NF_Unit__c,AV_Hours_per_week__c,AV_Employment_Type__c,Ownership_Field__c,AV_Notice_Period__c,AV_Contract_End_Date__c,Ages__c,ALOS__c,Cases__c,Facility_Level__c,Gender__c,Leadership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>NF_Present__c:75, Name:55, NF_Medical_Facility__c:75, NF_Start_Date__c:75, End_Date__c:75, No_of_Beds_in_your_current_facility__c:75, AV_Country_of_Work_History__c:75, NF_Position__c:75, NF_Unit__c:75, AV_Hours_per_week__c:75, AV_Employment_Type__c:75, Ownership_Field__c:75, AV_Notice_Period__c:75, AV_Contract_End_Date__c:75, Ages__c:50, ALOS__c:50, Cases__c:50, Facility_Level__c:50, Gender__c:50, Leadership__c:50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Additional_Work_History_Records</name>
            <choiceReferences>YesWorkHistory</choiceReferences>
            <choiceReferences>NoWorkHistory</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoWorkHistory</defaultSelectedChoiceReference>
            <fieldText>Create Additional Work History Records?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1997</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>collNewWorkHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NF_Work_History__c</objectType>
    </variables>
    <variables>
        <name>collSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NF_Work_History__c</objectType>
    </variables>
    <variables>
        <name>EducationVarRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NF_Education__c</objectType>
    </variables>
    <variables>
        <name>HCPSkillsVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NF_HCP_Skill__c</objectType>
    </variables>
    <variables>
        <name>HCPSpecialtyVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HCP_Specialty__c</objectType>
    </variables>
    <variables>
        <name>InterviewNotesVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objWorkHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NF_Work_History__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkHistoryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NF_Work_History__c</objectType>
    </variables>
</Flow>
